* {
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}
.wrapper {
    max-width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 260px 220px 800px;
    grid-row-gap: 14px;
    padding: 0px 24px;
    /*border: 1px solid orange; */
}
/*header, .ratings, .reviews {
    border: 1px solid black;
}*/
header h1, p {
    color: hsl(300, 43%, 22%);
}
header, .ratings {
    text-align: center;
}
header h1 {
    font-size: 2.4rem;
    line-height: 40px;
}
.ratings{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-row-gap: 14px;
    grid-template-columns: 100%;
    grid-template-rows: 112px 112px 112px;
}
.rating {
    background-color: hsl(300, 24%, 96%);
    border-radius: 12px;
    padding: 16px 10px 0px 10px;
}
.review {
    background-color: hsl(300, 43%, 22%);
    margin: 20px 0px;
    padding: 20px;
    color: hsl(0, 0%, 100%);
    border-radius: 12px;
}
.reviews {
    margin-top: 170px;
    
}
.headingImg {
    display: inline;
    float: left;
}
.headingInfo {
    display: inline;
    float: left;
    text-align: left;
    margin-left: 12px;
}
.heading img {
    border-radius: 50%;
}
.name {
    color: hsl(0, 0%, 100%)
}
.verifiedBuyer {
    color: hsl(333, 80%, 67%);
}
.stars {
    display: inline-block;
    width: 84px;
    height: 17px;
    background-image: url('images/icon-star.svg');
}
